<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Truck_Balance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Truck_Balance.Properties.Settings.dbConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Truck_Balance.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="baudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="databits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="stopbits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
        </Truck_Balance.Properties.Settings>
    </userSettings>
</configuration>